$honey: #45B38E;
$maroon: #2D1817;
$lime-green: rgb(164, 236, 100);
@mixin clearfix {
    &:after {
        content: "";
        display: table;
        clear: both;
    }
}

body {
    font-family: 'Roboto Slab', serif;
    background-color: $lime-green;
    color: white;
}

img {
    max-width: 100%;
    height: auto;
}

.flex-container {
    padding: 0;
    margin: 0;
    display: flex;
    flex-flow: row nowrap; 
    // flex-direction: row;
    // justify-content: flex-start | flex-end | center | space-between | space-around;

    margin-bottom: 2em;
}

.container {
    @include clearfix;
    width: 840px;
}

$i: 0;
$list: $honey,
$maroon,
#F2D368,
#F0AB55,
#ED7943,
#EA4E38,
#E80D19;
@each $item in $list {
    $i: $i + 1;
    .flex-container {
        .item-#{$i} {
            margin-top: 10px;
            padding: 5px;
            width: 200px;
            background: $item;
        }
    }
    .change-order-#{$i} {
        order: #{$i};
    }
    .container {
        .item-#{$i} {
            float: left;
            width: 120px;
            background: $item;
        }
    }
}

$alignments: auto flex-start flex-end center baseline stretch;
@each $alignment in $alignments {
    .align-#{$alignment} {
        align-self: #{$alignment};
    }
}

.container {
    // .item-2 {
    //     padding-left: 10px;
    // }
}

.flex-container {
    // .item-2 {
    //     flex-grow: 2;
    // }
    // .item-3 {
    //     flex-shrink: 2;
    //     /* default 1 */
    // }
}